.banner-bg{
    background: url("../../../assets/images/dev-banner.gif");
    background-size: cover;
    background-repeat: no-repeat;
}

.banner-black {
    background-color: rgba(0, 0, 0, 0.75);
    background-blend-mode: overlay;
}